* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: Myriad Pro;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100vw;
  min-height: 100vh;
  justify-content: flex-start;
}

.header__top {
  background: url("img/promo_m320.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  padding: 30px 20px 0 20px;
  min-height: 288px;
  width: calc(100% - 40px);
  align-items: flex-start;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu__open {
  color: #ffffff;
}

.menu__close {
  color: #000000;
}

.menu__open, .menu__close {
  font-size: 40px;
}

.header__checkbox {
  display: none;
}
.header__checkbox:checked ~ .navigation {
  top: 0;
}

.navigation {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: #ffffff;
  top: -200%;
  height: calc(100vh - 13px);
  max-height: 100vh;
  width: calc(100vw - 40px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 11px;
  left: 0;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style-type: none;
  padding-bottom: 14px;
}

.menu__list {
  margin-top: 14px;
}

.menu__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  transition: color 0.2s linear;
}
.menu__link:hover {
  color: #008DCD;
}

.menu__checked_h5 {
  font-size: 18px;
  line-height: 22px;
}

.menu__checked_textBox {
  font-size: 14px;
  line-height: 12px;
  padding: 11px 22px;
  width: calc(100% - 2px);
  border: 1px solid #363636;
  margin-top: 14px;
  box-sizing: border-box;
  border-radius: 30px;
  margin-bottom: 10px;
}
.menu__checked_textBox::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #363636;
}

.button {
  font-size: 16px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #008DCD;
  color: #ffffff;
  border-radius: 30px;
  text-transform: uppercase;
  width: calc(100% - 52px);
  text-decoration: none;
  border: 1px solid #008DCD;
  font-weight: 700;
  padding: 17px 25px;
}
.button:hover {
  color: #008DCD;
  background-color: #ffffff;
  box-shadow: 0 0 8px #008DCD;
}

.menu__checked_button {
  justify-content: center;
  padding: 13px 0;
  width: calc(100% - 2px);
}

.menu__checked_label {
  display: flex;
  margin-top: 12px;
  justify-content: flex-start;
  align-items: center;
}

.menu__checked_checkbox_content {
  font-size: 10px;
  line-height: 12px;
  color: #9E9E9E;
  margin-left: 9px;
}

.menu__checked_networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}

.menu__checked_network {
  background-color: #008DCD;
  border-radius: 50%;
  padding: 5px 5px;
  width: 36px;
  text-align: center;
  color: #ffffff;
  max-height: 34px;
  border: 1px solid #008DCD;
  transition: color 0.2s linear, background-color 0.2s linear;
  font-size: 28px;
}
.menu__checked_network:hover {
  background-color: #ffffff;
  color: #008DCD;
}

.thinkof {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  flex-grow: 1;
}

.thinkof_h1 {
  font-size: 32px;
  color: #000000;
}

.thinkof_h4 {
  font-size: 24px;
  line-height: 12px;
  color: #000000;
}

.aggregator {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.aggregator__image {
  margin-top: 25px;
}

.aggregator__content {
  margin-top: 25px;
}

.aggregator_h5 {
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.aggregator_p {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 25px;
  line-height: 14px;
  color: #000000;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.step__block {
  width: 100%;
  margin-top: 38px;
}

.step__number {
  font-size: 26px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 7px;
}

.step_p {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.care {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  min-height: 140px;
}

.care_h4 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}

.callBack {
  padding: 30px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100vw - 40px);
  background-color: #008DCD;
}

.callBack__block {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.callBack_h2 {
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.callBack_p {
  font-size: 14px;
  line-height: 13px;
  margin-top: 15px;
  color: #FFFFFF;
}

.callBack__telephone {
  border-color: #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
}
.callBack__telephone::placeholder {
  color: #FFFFFF;
}

.callBack__button {
  background-color: #FFCC00;
  color: #363636;
}

.callBack__checkbox_div {
  width: 8px;
  height: 8px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__close {
  display: none;
  font-size: 6px;
  color: #ffffff;
}

.callBack__checkbox {
  display: none;
}
.callBack__checkbox:checked ~ .callBack__checkbox_div .checkbox__close {
  display: inline;
}

.checkbox_p {
  color: #ffffff;
}

.review {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.review_h2 {
  font-size: 28px;
  color: #000000;
}

.review__content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review__block {
  display: flex;
  width: 230px;
  flex-direction: column;
  align-items: center;
}

.review_figure {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.review_figure_h3 {
  font-size: 26px;
  line-height: 25px;
  color: #000000;
}

.review_figure_h5 {
  font-size: 18px;
  color: #000000;
}

.review__package_ul {
  list-style-type: none;
}

.review__package_list {
  font-size: 10px;
  line-height: 9px;
  color: #000000;
  margin-top: 7px;
}

.review__p {
  font-size: 12px;
  line-height: 14px;
  margin-top: 12px;
  color: #000000;
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100vw - 40px);
  padding: 10px 20px 20px 10px;
}

.advantage_h2 {
  font-size: 28px;
  color: #000000;
}

.advantage__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.advantage__block {
  width: 86px;
  margin-top: 15px;
}

.advantage__image_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: border 0.2s linear;
}
.advantage__image_div:hover {
  border-color: #008DCD;
}

.advantage_p {
  font-size: 10px;
  margin-top: 8px;
  line-height: 12px;
  text-align: center;
  color: #000000;
}

.warranty {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warranty_h2 {
  font-size: 28px;
  color: #000000;
  align-self: flex-start;
}

.warranty__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.warranty_article {
  display: flex;
  align-items: center;
  width: 230px;
}

.warranty__image_div {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.warranty_h6 {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.warranty__content {
  max-width: 230px;
  margin-top: 14px;
}

.warranty__content_p {
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 14px;
  color: #000000;
}

.doubt {
  padding: 25px 20px;
  background-color: #D2ECF7;
  width: calc(100vw - 40px);
}

.doubt_h2 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 25px;
  color: #000000;
}

.doubt__summary_up {
  display: none !important;
}

.doubt__details {
  margin-top: 10px;
  background-color: #FFFFFF;
  border-radius: 32px;
  padding: 16px 20px 16px 24px;
}
.doubt__details[open] .doubt__summary_up {
  display: inline-block !important;
}
.doubt__details[open] .doubt__summary_down {
  display: none;
}

.doubt__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.doubt__summary::-webkit-details-marker {
  display: none;
}

.doubt__content {
  margin-top: 15px;
}

.doubt__summary_down, .doubt__summary_up {
  margin-left: 12px;
  color: #008DCD;
  box-sizing: border-box;
}

.warranty__content_p {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 18px 20px;
}

.brands__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.brand__image {
  margin: 10px 10px 0 10px;
}

@media (min-width: 576px) {
  .center {
    padding: 0 calc(50% - 270px);
  }

  .menu__open, .menu__close {
    display: none;
  }

  .navigation {
    display: none;
  }
}
@media (min-width: 768px) {
  .center {
    padding: 0 calc(50% - 360px);
  }
}
@media (min-width: 1440px) {
  .center {
    padding: 0 calc(50% - 590px);
  }
}

/*# sourceMappingURL=style.css.map */
